# View부분 (2024-02-08)

In [ ]:

dates = pd.date_range("20130101", periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [ ]:
df = pd.DataFrame(np.random.randn(6, 4), index=dates, columns=list("ABCD"))
df

                   A         B         C         D
2013-01-01  0.084276 -0.990418  0.766975 -0.105054
2013-01-02 -0.060532 -1.116166 -0.190412  1.033047
2013-01-03 -2.707503  0.436719  0.545674 -0.766680
2013-01-04  0.006458  1.400895 -2.140044 -1.204554
2013-01-05  0.015899  0.271720 -0.563553 -0.286793
2013-01-06 -0.173206 -1.739706  1.409944  0.249190

In [ ]:
df.to_numpy() #df풀고 어레이로 바꾸는 방식인듯했다

array([[ 0.0842757 , -0.99041755,  0.7669749 , -0.10505376],
       [-0.06053217, -1.1161663 , -0.19041221,  1.03304714],
       [-2.70750326,  0.43671926,  0.5456739 , -0.76667979],
       [ 0.0064583 ,  1.40089451, -2.14004445, -1.20455429],
       [ 0.0158991 ,  0.27171997, -0.56355304, -0.2867926 ],
       [-0.17320589, -1.73970626,  1.40994425,  0.24918956]])

In [ ]:
df.info() #info는 자체에 print가 포함 된듯하다 항상 자동으로 출력이 되었다
display(df.describe())
display(df.describe(include='all'))
display(df.describe(include=['int','float64'])) 
# 'float64 자리에 'object' or 'O' , category 등 나오는 것을 바라는 형식을 입력하면 된다 
# 여러개 하고싶다면 ['',''] 이런 식으로 리스트 안에 문자열로 형식을 여러개 넣어주면 된다

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6 entries, 2013-01-01 to 2013-01-06
Freq: D
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       6 non-null      float64
 1   B       6 non-null      float64
 2   C       6 non-null      float64
 3   D       6 non-null      float64
dtypes: float64(4)
memory usage: 240.0 bytes

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.472435 -0.289493 -0.028569 -0.180141
std    1.098405  1.181318  1.249215  0.783149
min   -2.707503 -1.739706 -2.140044 -1.204554
25%   -0.145037 -1.084729 -0.470268 -0.646708
50%   -0.027037 -0.359349  0.177631 -0.195923
75%    0.013539  0.395469  0.711650  0.160629
max    0.084276  1.400895  1.409944  1.033047

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.472435 -0.289493 -0.028569 -0.180141
std    1.098405  1.181318  1.249215  0.783149
min   -2.707503 -1.739706 -2.140044 -1.204554
25%   -0.145037 -1.084729 -0.470268 -0.646708
50%   -0.027037 -0.359349  0.177631 -0.195923
75%    0.013539  0.395469  0.711650  0.160629
max    0.084276  1.400895  1.409944  1.033047

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.472435 -0.289493 -0.028569 -0.180141
std    1.098405  1.181318  1.249215  0.783149
min   -2.707503 -1.739706 -2.140044 -1.204554
25%   -0.145037 -1.084729 -0.470268 -0.646708
50%   -0.027037 -0.359349  0.177631 -0.195923
75%    0.013539  0.395469  0.711650  0.160629
max    0.084276  1.400895  1.409944  1.033047

원래 조금 더 할려했는데 피곤하고 시간이 늦은 관계로 이정도에서 마무리 짓도록 하겠다