# Selection 부분 추가로 (2024-02-10)
어제 내용 미리 조금 작석해두고 날짜나눠서 친척집 가기 전에 올려두고 갈려했는데 뭔가 꼬였는지 2월 8일 날짜로 두번 올라가서 덮어쓰기 되었다

## Selection by position
위치로 하는 것으로 index를 사용하게 되어 이전 label로 하던 것에서 i가 추가로 붙은 형태의 메소드를 사용한다

In [ ]:
df

                   A         B         C         D
2013-01-01  1.502471  0.594288  2.118684  0.760508
2013-01-02 -0.819508  0.625336  0.437477 -0.566756
2013-01-03  1.338780  0.066758  0.931451 -0.750420
2013-01-04 -1.518039 -1.663265  0.738279 -0.869501
2013-01-05  1.631189  1.489051  0.432129 -1.409086
2013-01-06  1.209245 -1.306258  1.249830 -1.961107

In [ ]:
df.iloc[3] # 3행을 출력 의미

A   -1.518039
B   -1.663265
C    0.738279
D   -0.869501
Name: 2013-01-04 00:00:00, dtype: float64

In [ ]:
# 슬라이싱으로 입력이 가능하다(이 방식의 경우는 리스트 인덱스 슬라이싱할 때와 동일하게 시작:끝으로 입력시 시작~끝-1까지 출력된다)
df.iloc[3:5, 0:2] # 행, 열 순서대로 의미한다

                   A         B
2013-01-04 -1.518039 -1.663265
2013-01-05  1.631189  1.489051

In [ ]:
# 리스트로 여러 행을 연속되지 않게 선택적으로도 할 수 있다, 내 기억으로는 하나만 가져올 경우는 []안써도 되는 것으로 기억한다(여러개의 경우는 []로 묶어줘야한다)
df.iloc[[1, 2, 3], [0, 2]]

                   A         C
2013-01-02 -0.819508  0.437477
2013-01-03  1.338780  0.931451
2013-01-04 -1.518039  0.738279

In [ ]:
df.iloc[[1, 2, 3], 2]

2013-01-02    0.437477
2013-01-03    0.931451
2013-01-04    0.738279
Freq: D, Name: C, dtype: float64

In [ ]:
df.iloc[2, [0, 2]]

A    1.338780
C    0.931451
Name: 2013-01-03 00:00:00, dtype: float64

In [ ]:
df.iloc[1:3,:] # 1~2행, 전체 열 의미

                   A         B         C         D
2013-01-02 -0.819508  0.625336  0.437477 -0.566756
2013-01-03  1.338780  0.066758  0.931451 -0.750420

In [ ]:
df.iloc[:, 2:4] # 전체 행, 2번째, 3번째 열 선택 출력

                   C         D
2013-01-01  2.118684  0.760508
2013-01-02  0.437477 -0.566756
2013-01-03  0.931451 -0.750420
2013-01-04  0.738279 -0.869501
2013-01-05  0.432129 -1.409086
2013-01-06  1.249830 -1.961107

In [ ]:
print(df.iloc[1,1]) # 동일하게 특정 값만 골라서 출력가능
print(df.iat[1,1])

0.6253361941414411
0.6253361941414411